services:
  springboot:
    build: .
    ports:
      - "8081:8080"
    env_file:
      - ./.env
    depends_on:
      mysql:
        condition: service_healthy

  mysql:
    image: mysql:8.0
    restart: always
    env_file:
      - ./.env
    volumes:
      - mysql_data:/var/lib/mysql
    ports:
      - "3307:3306"
    healthcheck:
      test: ["CMD","mysqladmin","ping","-h","127.0.0.1"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  mysql_data: